.scroll-top-arrow{
    float: right;
    padding: 0 50px 50px 0;
    /*border: 1px solid rgb(0, 255, 34);*/
}

@keyframes loadAnimation {
    0%{
        opacity: 0;
        -webkit-transform:translate(0,-20px); 
        
    }
    100%{
        opacity: 100;
        -webkit-transform:translate(0,-0);
    }
}