.home{
    color: rgb(100, 100, 100);
    text-align: center;
    animation: loadAnimation ease-in-out 2s;
}

.home-img{
    display: inline-block;
    opacity: 0.2;
    filter: blur(12px);
    height: 100px;
    width: 100px;
}

.work-wrapper{
    padding: 8px;
}

.proj-wrapper{
    padding: 8px;
}

.work-desc1{
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.work-img1{
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.work-desc2{
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.work-img2{
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.work-desc3{
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.work-img3{
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.proj-desc1{
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.proj-img1{
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.proj-desc2{
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.proj-img2{
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.proj-desc3{
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.proj-img3{
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}