.codings{
    color: rgb(100, 100, 100);
    align-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.outer-wrapper{
    display: inline-block;
}

.wrapper {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-gap: 64px;
    text-align: left;
    animation: loadAnimation ease-in-out 1s;
}
  
.box {
    padding: 12px;
}

.f{
    display: none;
}

.codings-img-type-landscape{
    display: inline-block;
    height: auto;
    width: 100%;
}

.codings-img-type-portrait{
    display: inline-block;
    height: auto;
    width: 30%;
    padding: 0 12px 0 12px;
}

.codings-img-comingsoon{
    opacity: 0.2;
    filter: blur(12px);
}

a{
    text-decoration: none;
    color: rgb(201, 201, 201);
}