body, html {
    height: 100%;
    margin: 0;
}

.App{
    font-family: 'Be Vietnam', sans-serif;
}

.bg{
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1) ), url('/bg1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 100%;
}

@media only screen and (min-width: 768px) {
    #titletop{
      display: block;
    }
    #titletop-s{
      display: none;
    }
}

@media only screen and (max-width: 768px) {
    #titletop{
      display: none;
    }
    #titletop-s{
      display: block;
    }
}

.nav-text-home{
    font-size: 30px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.navbar-left{
    color: rgb(200, 200, 200);
    padding: 4em 0 0 8em;
    float: left;
}

.navbar-right{
    padding: 6em 10em 0 0;
    float: right; 
}

.navbar-right li{
    display: inline;
    padding: 4px 8px 4px 8px;
}

.navbar a{
    text-decoration: none;
    color: rgb(200, 200, 200);
}

.nav-text{
    font-size: 16px;
}

.nav-text-contact{
    padding: 8px;
    border: 2px solid rgb(100, 100, 100);
    transition: color, border 0.1s linear;
}

.nav-text-contact:hover{
    padding: 8px;
    border: 2px solid rgb(43, 43, 43);
    color: rgb(128, 128, 128);
    animation: anim1 ease-in-out 0.2s;
}

@keyframes anim1 {
    0%{
        color: rgb(200, 200, 200);
        border: 2px solid rgb(100, 100, 100);
    }
    100%{
        color: rgb(128, 128, 128);
        border: 2px solid rgb(43, 43, 43);
    }
}

.nav-text-code, .nav-text-home, .nav-text-contact{
    transition: color 0.1s linear;
}

.nav-text-code:hover, .nav-text-home:hover{
    color: rgb(128, 128, 128);
    animation: anim2 ease-in-out 0.2s;
}

@keyframes anim2 {
    0%{
        color: rgb(200, 200, 200);
    }
    100%{
        color: rgb(128, 128, 128);
    }
}

.intro{
    height: 100vh;
}

.intro-text-container{
    height: 100%;
    width: 50%;
    margin: 20vh 12vw 0 0;
    float: right;
    color: rgb(200, 200, 200);
    font-family: 'Raleway', sans-serif;
}

.intro-text-container-s{
    /* Todo: do this properly, very bad practice */
    transform: scale(0.8);
}

.description{
    color: rgb(211, 211, 211);
    font-size: 16px;
    font-weight: bolder;
}

.skills{
    color: rgb(160, 160, 160);
    transform: scale(0.8);
    font-size: 10px;
    font-weight: bolder;
}

.skill-text{
    padding: 4px;
}