.footer-outer{
  text-align: center;
  font-size: 14px;
  height: 50px;
  background-color: rgb(27, 27, 27);
  padding: 50px;
  z-index: -1;
}

.footer-outer a{
  z-index: 100;
  text-decoration: none;
  display: inline-flex;
  height: 40px;
  width: 40px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
  color: rgb(255, 255, 255);
}

.footer-outer a::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #131313, #505050);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.footer-outer a:hover::before{
  transform: scale(0);
}

.footer-outer a i{
  transition: 0.3s ease-in;
}

.footer-outer a:hover i{
  background: linear-gradient(45deg, #505050, #868686);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.8);
}